//
// General
//
$card-height: 6em;
$card-radius: 5%;
$card-border-color: silver;

//
// Board
//
$board-width: 75%;

$board-card-gutter: 1.5%;
$board-card-color: aquamarine;
$board-card-exonerated-color: pink;
$board-card-arrested-color: blue;
$board-card-deceased-color: red;

$board-arrow-height: $card-height / 6;
$board-arrow-color: blue;

//
// Deck
//
$deck-card-back-color: orange;
$deck-card-color: honeydew;
