//
// General
//
$game-min-width: 900px;
$main-width: 70%;
$side-width: 100 - $main-width;

$killer-red: #c0392b;
$inspector-blue: #3498db;

//
// Card
//
$card-height: 5rem;
$card-radius: 5%;
$card-border-color: #bdc3c7;

//
// Board
//
$board-width: 80%;
$board-max-width: 700px;

$board-card-gutter: 1.5%;
$board-card-color: #e2e2e2;
$board-card-exonerated-color: #9b59b6;
$board-card-arrested-color: $inspector-blue;
$board-card-deceased-color: $killer-red;

$board-arrow-height: $card-height / 6;
$board-arrow-color: darken($board-card-color, 40%);

//
// Deck
//
$deck-card-back-color: honeydew;
$deck-card-color: honeydew;
$deck-card-width: 100px;
