#game-board {
  display: flex;
  flex-direction: column;
  width: $board-width;
  max-width: $board-max-width;
  margin: $board-card-gutter auto;

  .row {
    display: flex;
    align-items: center;

    & + .row {
      margin-top: $board-card-gutter;
    }
  }
}
