.suspect-card {
  background-color: $board-card-color;

  &.exonerated,
  &.arrested,
  &.deceased {
    color: #fff;
  }

  &.exonerated {
    background-color: $board-card-exonerated-color;
  }

  &.arrested {
    background-color: $board-card-arrested-color;
  }

  &.deceased {
    background-color: $board-card-deceased-color;
  }

  &.fade-out {
    opacity: 0;
  }

  & + .suspect-card {
    margin-left: $board-card-gutter;
  }
}
