#move-details {
  flex: 1;
  .move-details-wrapper {
    &:not(:empty) {
      padding: 0.5rem;
    }
    &.killer {
      border: 1px solid $killer-red;
    }
    &.inspector {
      border: 1px solid $inspector-blue;
    }
  }
}
