.card {
  height: $card-height;
  text-align: center;
  border: 1px solid $card-border-color;
  border-radius: $card-radius;
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 1.9s ease;
  transform: translate3d(0, 0, 0); // enable hardware acceleration
  backface-visibility: hidden; // enable hardware acceleration

  &-name {
    cursor: default;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}
