extends base

block content
  #game
    #main
      #game-board
      #player-hand
    #side
      #move-details
      #game-deck
  #idle-overlay
    h1.message Waiting for #[span.other-player opponent] to connect...
