$deck-cards-tilt: 25px / 2;

#game-deck {
  width: $deck-card-width + $deck-cards-tilt;
  position: relative;
  margin: 0 auto;
  padding-right: $deck-cards-tilt;
  perspective: 100vmax;
  perspective-origin: center center;
  transform-style: preserve-3d;
  min-height: $card-height;

  .game-deck-wrapper {
    &.is-empty {
      pointer-events: none;
      border: 1px dashed $card-border-color;
      border-radius: $card-radius;
      height: $card-height;
      width: $deck-card-width;
      text-align: center;
      font-style: italic;
      font-size: 0.8em;

      .message {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .deck-card {
    position: absolute;
    display: block;
    background-color: $deck-card-back-color;
    height: $card-height;
    width: $deck-card-width;
    border: 1px solid $card-border-color;
    border-radius: $card-radius;

    &-name {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
